body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: calc(10px + 1.5vmin);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
    width: 78px;
    height: 78px;
}
a {
    text-decoration: none;
    cursor: pointer;
    width: calc(100vw/5);
}
a:active {
    background: #94aaba !important;
    color: #5f5f63 !important;
}
@media screen and (min-width: 750px) {
    body {
        font-size: calc(14px + 2vmin) !important;
    }
    button {
        font-size: calc(14px + 1.4vmin) !important;
    }
}
@media screen and (max-width: 710px) {
    body {
        font-size: calc(11px + 2.2vmin) !important;
    }
    button {
        font-size: calc(9px + 1.5vmin) !important;
    }
    img {
        width: 45px;
        height: 60px;
    }
}
@media screen and (max-width: 630px) {
    body {
        font-size: calc(9px + 2vmin) !important;
    }
    button {
        font-size: calc(9px + 1vmin) !important;
    }
    img {
        width: 45px;
        height: 60px;
    }
}
@media screen and (max-width: 505px) {
    body {
        font-size: calc(7px + 2vmin) !important;
    }
    button {
        font-size: calc(6px + 0.8vmin) !important;
    }
    img {
        width: 35px;
        height: 50px;
    }
}
@media screen and (max-width: 370px) {
    body {
        font-size: calc(5px + 2vmin) !important;
    }
    button {
        font-size: calc(5px + 0.7vmin) !important;
    }
    img {
        width: 25px;
        height: 40px;
    }
}
input, button {
    outline: none;
    font: inherit;
}
.App {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.city-header {
    background: #58589a;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.city-button {
    background: transparent;
    color: #8fd6ff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    box-shadow: none !important;
}
.city-button:hover {
    background: #a3a6ba;
    color: #252c4c;
}
.city-button-active {
    background: #040e2d;
    color: #ffffff;
}
.city-button-active:hover {
    background: #0a236c;
    color: #ffffff;
}
.content {
    align-self: stretch;
}
.rowDays {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.cardDay {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #125680;
    border-bottom: 1px solid #125680;
    height: 100%;
}
.activeCardDay {
    background: #c3c3c3;
    display: flex;
    flex-direction: row;
    color: #060b1a;
    border-right: 1px solid #125680;
    border-bottom: 1px solid #125680;
}
.activeCardDay:hover {
    background: #a8a8a8;
    color: #06193e;
}
.cardDay:hover {
    background: #aebae7;
    color: #20212a;
}
.data_temp {
    display: flex;
    flex-direction: column;
}
.rowTimeDay {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    color: black;
    padding: 0 10px;
}
.rowTimeDay:nth-of-type(odd) {
    background-color: #dedede;
}
.rowTimeDayVal {
    margin: auto;
}
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}