body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 78px;
  height: 78px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:active {
    background: #94aaba !important;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.rowDays {
  display: flex;
  flex-direction: row;
}
.cardDay {
  background: #c4dff5;
  display: flex;
  flex-direction: row;
  color: black;
  border: 1px solid black;
}
.activeCardDay {
    background: #94aaba;
    display: flex;
    flex-direction: row;
    color: black;
    border: 1px solid black;
}
.cardDay:hover {
  background: #a2b9cb;
}
.data_temp {
  display: flex;
  flex-direction: column;
}
.rowTimeDay {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    color: black;
}
.rowTimeDay:nth-of-type(odd) {
    background-color: #ebebeb;
}
.rowTimeDayVal {
    margin: auto;
}
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}